.vscode/
node_modules/
.DS_Store

analysis/qsub.sh.*
analysis/gene_expr.ipynb
analysis/tissueRanking.ipynb

data/GTEx_Analysis_v6_RNA-seq_RNA-SeQCv1.1.8_exon_reads.txt
data/GTEx_Analysis_v6_RNA-seq_RNA-SeQCv1.1.8_gene_reads.gct
data/GTEx_Analysis_v6_RNA-seq_RNA-SeQCv1.1.8_gene_rpkm.gct
data/biobank_collection_20170601_014834.txt

resources/exon_expr
resources/gene_expr

__pycache__/
.idea/*
*.pyc
.ipynb_checkpoints/

dist/
