/* font */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato');

body {
  font-family: 'Lato', sans-serif;
  /*font-family: 'Inconsolata', monospace;*/
  height: 100%;
  max-width: 100%;
}

/* exon box plot */
.ExonBoxPlotModal {
  width: 1200px;
}
/* transparent background */
.modal-backdrop {
  opacity: 0;
  transition: opacity .2s;
}
.modal-backdrop.in {
  opacity: .7;
}

.x.axis,
.y.axis {
  font-family: 'Lato', sans-serif;
}

/* change default bootstrap styles  */
.jumbotron {
  padding-top: 10px;
}

ul.nav-stacked {
  float: left;
}

/* restrict dropdown size */
.tissueSiteListing + button + ul,
.tissueSiteRanking {
  max-height: 400px;
  overflow-y: auto;
}

/* let dropdown button be fixed width */
.tissueSiteListing {
  width: 300px;
}

.panelHistoryListing {
  width: 120px;
}

.tissueRankingPanel {
  height: 900px;
  overflow-y: auto;
  padding: 20px;
}

/* adds padding to panel Gene button */
.panelGeneButton {
  margin: 1px;
}

/* search bar */
.bootstrap-tokenizer .token-removeable {
  cursor: pointer;
  padding-right: 21px;
}
.bootstrap-tokenizer .token {
  background-color: #e7f4ff;
  border: 0;
  border-radius: 2px;
  color: #1f8dd6;
  display: inline-block;
  line-height: 1em;
  margin: 0 3px 3px 0;
  padding: 4px 7px;
  position: relative;
}

.bootstrap-typeahead-clear-button {
  outline: none;
  margin-top: -12px;
  position: absolute;
  right: 11px;
  top: 50%;
  z-index: 1;
}
