
/* changes to default react bootstrap  */
.jumbotron {
    padding-top: 10px
}

ul.nav-stacked {
    float: left;
}


/* restrict dropdown size */
.tissueSiteListing + ul {
    max-height: 400px;
    overflow-y: auto;
}

/*
#gene-panel {
    height: 150px
}*/
