/* font */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato');

body {
  font-family: 'Lato', sans-serif;
  /*font-family: 'Inconsolata', monospace;*/
}
.x.axis, .y.axis {
  font-family: 'Lato', sans-serif;
}

/* change default bootstrap styles  */
.jumbotron {
  padding-top: 10px;
}

ul.nav-stacked {
  float: left;
}

/* restrict dropdown size */
.tissueSiteListing + ul, .tissueSiteRanking {
  max-height: 400px;
  overflow-y: auto;
}

.tissueRankingPanel {
  height: 700p;
  overflow-y: auto;
}

/* adds padding to panel Gene buttno */
.panelGeneButton {
  margin: 1px;
}
